<main>
    <div class="card text-bg-dark">
        <div class="nav ">
            <div class="nav-item">
                <a href="#" class="nav-link text-light disabled">Home</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link text-light disabled">Catalog</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link text-light disabled">FAQ page</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link text-light active">Bootstrap</a>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="row g-3">
        <div class="col-12">
            <div class="nav nav-tabs text-bg-light">
                <div class="nav-item  ">
                    <a href="#" class="nav-link  disabled">Home</a>
                </div>
                <div class="nav-item ">
                    <a href="#" class="nav-link ">Catalog</a>
                </div>
                <div class="nav-item ">
                    <a href="#" class="nav-link  ">FAQ page</a>
                </div>
                <div class="nav-item ">
                    <a href="#" class="nav-link  active">Bootstrap</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card ">
                <div class="nav flex-column ">
                    <div class="card-body">
                        <div class="nav-item card">
                            <a href="#" class="nav-link disabled">Home</a>
                        </div>
                        <br>
                        <div class="nav-item card">
                            <a href="#" class="nav-link  ">Catalog</a>
                        </div>
                        <br>
                        <div class="nav-item card">
                            <a href="#" class="nav-link  ">FAQ page</a>
                        </div>
                        <br>
                        <div class="nav-item card">
                            <a href="#" class="nav-link active">Bootstrap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">PC and notebook</a></li>
                <li class="breadcrumb-item">Notebook Dell</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h6> Hello world! <span class="badge text-uppercase text-light text-bg-warning rounded-pill">Топ
                            продаж</span></h6>
                </div>
            </div>
            <button class="btn btn-primary rounded-pill mt-2 mb-4 mx-3  px-5">Button</button>
            <div class="alert alert-primary">
                Важлива інформація
            </div>

        </div>

    </div>






</main>