<main>
    <h1>First!</h1>
    <h2>Second</h2>
    <h3>Third (3)</h3>

    <hr>

    <div class="display-1 text-center">First!</div>
    <div class="display-4 text-end">Second</div>
    <div class="display-6">Third (3)</div>

    <hr>

    <div>
        <span>Просто текст</span>
        <span class="text-muted">Додатковий текст</span>
    </div>

    <hr>
    <div class="text-uppercase">Text</div>
    <div class="text-lowercase">Text</div>
    <div class="text-capitalize">text</div>
    <hr>

    {{!-- Buttons --}}
    {{!-- <a href=""></a>
    <button> </button>
    <input type="text"> --}}

    <button class="btn">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-secondary">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-success">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-danger">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-warning">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-info">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-light">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-dark">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-link">
        <span class="text-uppercase">Button</span>
    </button>

    <a href="#" class="btn btn-link">
        <span class="text-uppercase">Button</span>
    </a>

    <hr>
    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-muted">text muted</p>
    <p class="text-danger">text danger</p>

    <hr>
    <button class="btn">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-primary">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-secondary">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-success">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-danger">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-warning">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-info">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-light">
        <span class="text-uppercase">Button</span>
    </button>

    <button class="btn btn-outline-dark">
        <span class="text-uppercase">Button</span>
    </button>


    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-lg btn-outline-dark">
                <span class="text-uppercase">Button</span>
            </button>
            <button class="btn btn-outline-dark">
                <span class="text-uppercase">Button</span>
            </button>
            <button class="btn btn-sm btn-outline-dark">
                <span class="text-uppercase">Button</span>
            </button>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            This some text
        </div>
    </div>
</main>