<div>
    <main>
        <h1 class="mb-2">{{name}}</h1>
        <hr>

        {{#each users}}
        <section>
            {{> title data=name big=true}}
            <div class="mb-2">
                {{> textBloks id=id name=false gender=gender age=age }}
            </div>

            {{#if friends}}
            <hr>

            {{> title data="Friends:" big=false}}

            {{#each friends}}
            <div class="mb-2">
                {{> textBloks id=id name=name gender=gender age=age data=mutual_friends dataTitle="mutual friends"}}
            </div>
            {{/each}}

            {{/if}}

            {{#if groups}}
            <hr>
            {{> title data="Groups:" big=false}}
            {{#each groups}}
            <div class="mb-2">
                {{> textBloks id=id name=name description=description data=members dataTitle="members"}}
            </div>
            {{/each}}
            {{/if}}
        </section>


        {{/each}}

    </main>
</div>