<main class="row g-3">
    <section>
        <h1>{{name}}</h1>
        <div>
            <p>{{description}}</p>
        </div>
        <div><b>Today its only:</b> {{price}} $</div>
        <hr>
        <div>Category: <i class="badge text-bg-secondary p-2">{{category}}</i></div>
    </section>
    <hr>

    {{#with features}}
    {{> title data="Features:" big=true }}

    <section class="card col-4">
        <div class="card-body">
            {{#with processor}}
            <div>
                <b>Processor:</b>
            </div>
            <ul>
                {{> div_item name=brand text="brand" BoldText=true}}
                {{> div_item name=model text="model"}}
                {{> div_item name=speed text="speed"}}
                {{> div_item name=cores text="cores"}}
                {{> div_item name=cache text="cache"}}
            </ul>
            {{/with}}
        </div>

        <hr>
        <div class="card-body">
            {{#with memory}}
            <div>
                <b>Memory:</b>
            </div>
            <ul>
                {{> div_item name=type text="type"}}
                {{> div_item name=size text="size"}}
                {{> div_item name=speed text="speed"}}
            </ul>
            {{/with}}
        </div>
        <hr>
        <div class="card-body">
            {{#with storage}}
            <div>
                <b>Storage:</b>
            </div>
            <ul>
                {{> div_item name=type text="type"}}
                {{> div_item name=size text="size"}}
            </ul>
            {{/with}}
        </div>
        <hr>
        <div class="card-body">
            {{#with display}}
            <div>
                <b>Display:</b>
            </div>
            <ul>
                {{> div_item name=size text="size"}}
                {{> div_item name=resolution text="resolution"}}
                {{> div_item name=technology text="technology"}}
                {{> div_item name=color_space text="color_space"}}
                {{> div_item name=brightness text="brightness"}}
                {{> div_item name=refresh_rate text="refresh_rate"}}
            </ul>
            {{/with}}
        </div>
        <hr>
        <div class="card-body">
            {{#with graphics}}
            <div>
                <b>Graphics:</b>
            </div>
            <ul>
                {{> div_item name=brand text="brand"}}
                {{> div_item name=model text="model"}}
                {{> div_item name=memory text="memory"}}
            </ul>
            {{/with}}
        </div>
        <hr>
        <div class="card-body">
            <div>
                <b>Ports:</b>
            </div>
            {{#each ports}}
            {{> div_item name=type text="Type" BoldName=true}}
            {{> div_item name=count text="count"}}
            {{#if features}}
            <ul>
                <b>Features:</b>
                {{#each features}}
                {{> div_item name=this text="" without_colon=true}}
                {{/each}}
            </ul>
            {{/if}}
            {{/each}}
        </div>
        <hr>
        <div class="card-body">
            {{#with battery}}
            <div>
                <b>Battery:</b>
            </div>
            <ul>
                {{> div_item name=type text="type"}}
                {{> div_item name=capacity text="capacity"}}
                {{> div_item name=life text="life"}}
            </ul>
            {{/with}}
        </div>
        <hr>
        <div class="card-body">
            {{> div_item name=weight text="Weight" BoldText=true}}
        </div>
        <div class="card-body">
            {{#with dimensions}}
            <div>
                <b>Dimensions:</b>
            </div>
            <ul>
                {{> div_item name=height text="height"}}
                {{> div_item name=width text="width"}}
                {{> div_item name=depth text="depth"}}
            </ul>
            {{/with}}
        </div>
        <div class="card-body">
            {{> div_item name=operating_system text="Operating system" BoldText=true}}
        </div>
        <hr>
        <div class="card-body">
            <div>
                <b>Accessories:</b>
            </div>
            {{#each accessories}}
            {{> div_item name=price text=name BoldName=true}}
            {{/each}}
        </div>
    </section>
    {{/with}}

</main>