<main class="row mt-3 ml-2">
    {{#with navigation}}
    <section class="col-12 nav my-3">
        {{#each links}}
        <div class="nav-item  mb-2">
            <a href={{href}} class="nav-link  {{#if @last}} disabled {{/if}}"> {{text}} </a>
        </div>
        {{/each}}
    </section>
    {{/with}}
</main>