<div>
  {{#with main}}
  <main>
    <section>
      {{> title data=summary.title  big=true }}
      <div>
        <p>{{summary.text}}</p>
      </div>
    </section>
    <section>
      {{> title data=experience.title  big=false }}
      <div>
        <p>{{experience.text}}</p>
      </div>
    </section>
  </main>
  {{/with}}
</div>

