<div class="mb-2">
    <ul>
        {{#each data}}
        <li class="pb-1">
            {{#if name}}
            <div>Name: {{name}} </div>
            {{/if}}
            {{#if type}}
            <div> Type: {{type}} </div>
            {{/if}}
            {{#if value}}
            <div> Value: {{value}} </div>
            {{/if}}
            {{#if description}}
            <div> {{description}} </div>
            {{/if}}
        </li>

        {{/each}}
    </ul>

</div>