<nav class="row">


	{{#each nav_links}}
	<div class="col-2">
		{{#if @last}}
		{{> link text=name href=href line=true noLine=true}}
		{{else}}
		{{> link text=name href=href line=true }}
		{{/if}}
	</div>
	{{/each}}





</nav>