{{#with service}}
<section class="card p-2 ps-0 col-12 text-bg-success text-light">
    <h2 class="m-2 text-center">{{title}}</h2>
    <div class="m-2 text-center">{{description}}</div>
    {{#each buttons}}
    <div class="py-2 text-center">
        <a href={{link}} class="btn btn-primary text-light">{{text}} </a>
    </div>
    {{/each}}
</section>
{{/with}}