<div class="m-1 ps-4">
    {{#if id}}
    {{> textBlok firstText="id" secondText=id fistBoldText=true}}
    {{/if}}

    {{#if name}}
    {{> textBlok firstText="name" secondText=name fistBoldText=true}}
    {{/if}}

    {{#if gender}}
    {{> textBlok firstText="gender" secondText=gender fistBoldText=true}}
    {{/if}}

    {{#if age}}
    {{> textBlok firstText="age" secondText=age fistBoldText=true}}
    {{/if}}

    {{#if description}}
    {{> textBlok firstText=description fistBoldText=false}}
    {{/if}}

    {{#if data}}
    <div class="m-2 ps-4">
        <b class="mb-2">{{dataTitle}}:</b>

        {{#each data}}
        {{#if id}}
        <hr>
        {{> textBlok firstText="id" secondText=id fistBoldText=true}}
        {{/if}}

        {{#if name}}
        {{> textBlok firstText="name" secondText=name fistBoldText=true}}
        {{/if}}

        {{#if gender}}
        {{> textBlok firstText="gender" secondText=gender fistBoldText=true}}
        {{/if}}

        {{#if age}}
        {{> textBlok firstText="age" secondText=age fistBoldText=true}}
        {{/if}}

        {{#if description}}
        {{> textBlok firstText=description fistBoldText=false}}
        {{/if}}



        {{/each}}
    </div>
    {{/if}}
</div>